

.footer {
    margin-top: 30px;
  }
  
  .footer h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
    color: #000;
  }
  
  .footer ul {
    padding: 0;
  }
  
  .footer ul li {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #3e0f46;
    margin-bottom: 10px;
  }
  
  .footer ul :hover {
    color: #FF0B41;
  }
  
  .footer .footer-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  
  
  
  
  // .footer .footer-div .footer-right p {
  //   font-weight: 500;
  //   font-size: 18px;
  //   line-height: 21px;
  //   cursor: pointer;
  // }
  
  .footer .footer-div .social-icons img {
    padding-left: 8px;
  }
  
  .footer .footer-div span {
    //font-weight: 300;
    font-size: 11px;
    line-height: 14px;
    color: rgba(0, 0, 0, 1);
  }
  
  .footer .copyright {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 980px) {
    .footer h4 {
      font-weight: 700;
    }
  
    .footer-div {
      flex-direction: column;
      padding: 25px;
    }
  
   
  
    
  
    .copyright {
      padding: 25px;
      padding-bottom: 0;
    }
  }

  p.schedule {
    font-size: 10px !important; 
    font-weight: 600;
    margin-bottom: 3px;
  }