.aside {
    flex-basis: 380px;
    flex-shrink: 0;
    background-color: #fff;
    padding: 24px 22px;

    h3 {
       font-weight: 600; 
       font-size: 14px;
       line-height: 21px;
       color: #013668;
       padding-bottom: 13px;
       margin-bottom: 16px;
       border-bottom: 1px solid #ffdf00;
    }

}

